<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produits Apple</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-shadow">
    <a class="navbar-brand mr-5" href="/">Appecomtech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>

            <li class="nav-item"><a class="nav-link" href="/produits/allproduits">Produits</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/recherche" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Rechercher" name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
        </form>
        <a class="btn btn-outline-primary ml-2" href="/Connexion">Connexion</a>
        <a class="nav-link" href="produits/ajouter">Gerer produit</a>
        <a class="nav-link" href="/panier">Panier</a>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="text-center mb-4">Produits Apple</h1>
    <div class="row">
        <!-- Utilisation de Thymeleaf pour afficher les produits -->
        <div th:each="produit : ${produits}" class="col-md-4 mb-4">
            <div class="card">
                <img th:src="@{${produit.image}}" class="card-img-top" alt="Image produit">
                <div class="card-body">
                    <h5 class="card-title" th:text="${produit.nom}">Nom du produit</h5>
                    <p class="card-text" th:text="${produit.description}">Description du produit</p>
                    <p class="card-text" th:text="'$' + ${produit.prix}">Prix du produit</p>
                    <a href="#" class="btn btn-primary">Acheter</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">© 2024 Appecomtech. Tous droits réservés.</span>
        <ul class="social-icons">
            <li><a href="#" class="fab fa-facebook"></a></li>
            <li><a href="#" class="fab fa-twitter"></a></li>
            <li><a href="#" class="fab fa-instagram"></a></li>
        </ul>
    </div>
</footer>
</html>
