<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Résultats de la recherche</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-shadow nav1">
    <!-- Votre barre de navigation -->
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-shadow">
    <!-- Votre barre de navigation -->
</nav>
<div class="container">
    <h1 class="mt-5">Résultats de la recherche</h1>
    <!-- Affichage des résultats de la recherche sous forme de cartes -->
    <div class="row mt-3">
        <div class="col-md-4" th:each="resultat : ${resultats}">
            <div class="card mb-4">
                <img style="border-radius: 15px " th:src="@{${resultat.image}}" class="card-img-top" alt="Image produit">
                <div class="card-body">
                    <h5 class="card-title" th:text="${resultat.nom}">Nom du produit</h5>
                    <p class="card-text" th:text="${resultat.description}">Description du produit</p>
                    <p class="card-text" th:text="'$' + ${resultat.prix}">Prix du produit</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">© 2024 Appecomtech. Tous droits réservés.</span>
        <div class="social-links">
            <a href="https://www.instagram.com" target="_blank"><img src="/image/instagram.png" alt="Instagram" style="width: 30px; height: 30px;"></a>
            <a href="https://www.linkedin.com/in/ayman-boukdir" target="_blank"><img src="/image/linkedin.png" alt="LinkedIn" style="width: 30px; height: 30px;"></a>
            <a href="https://github.com/BoukdirAyman" target="_blank"><img src="/image/github.png" alt="Github" style="width: 30px; height: 30px;"></a>
        </div>
        <div class="made-by">
            <span class="text-muted">Réalisé par Ayman Boukdir</span>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
